@import './base.css';

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
.footer
{
  padding: 10px 15px;
  height: 52px;
  text-align: center;
  font-size: 10px;
  border-top: 1px solid #e6e6e6;
}